PROG_DIR=/home/kitamura/fftest
DROPBOX_DIR=/data/KMD\ UCSD\ collaboration\ documentary/_MOV_DROP
WORKING_DIR=$DROPBOX_DIR/.tmp
#DSTDIR=/data/GrowingDocumentary_CONV
DSTDIR=/data/KMD\ UCSD\ collaboration\ documentary/_MOV_DROP/.send
SENDDIR=/data/KMD\ UCSD\ collaboration\ documentary/_MOV_DROP/.send
RECVDIR=/data/KMD\ UCSD\ collaboration\ documentary/_MOV_DROP/.recv

DONEDIR=/data/KMD\ UCSD\ collaboration\ documentary/_MOV_CONV

FF264=$PROG_DIR/ff264.sh
QTFAST=$PROG_DIR/qt-faststart
MOVEXT="*.mp4 *.MP4 *.mov *.MOV"
MULTIPROCESS=OFF
PROC_LOCK_PREFIX=".inproc_fileproc"
PROC_LOCK_FILENAME=$PROC_LOCK_PREFIX.$$

FFMPEG=/usr/local/bin/ffmpeg
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib


SERVER="67.58.35.229"
USER="collaboration"
PASS="documentary"

#REMOTE_DIR="_MOV_DROP/.recv"
REMOTE_DIR=/data/pmpshare/KMD\ UCSD\ collaboration\ documentary/_MOV_DROP/.recv


